
    <footer>

    </footer>

    <!-- Modals -->
    <div class="jdc-modal" data-modal="test">
      <div class="jdc-modal__body">
        yo it's a modal!
      </div>
    </div>

    <!-- Menus -->
    <!-- login
    <div class="menu-right menu-right--padded" data-menu="login">
      <form class="jdc-form">
        <input type="text" id="login-email" placeholder="Email" />
        <input type="password" id="login-password" placeholder="Password" />
        <input type="submit" id="login-submit" value="Log In" />
      </form>
    </div> -->

    <ul class="menu-right" data-menu="settings"><!-- user -->
      <li class="menu-right__item">
        <a href="#setting" data-open-menu="login">Login</a>
      </li>
      <li class="menu-right__item">
        <a href="#setting">Setting 2</a>
      </li>
      <li class="menu-right__item">
        <a href="#setting">Setting 3</a>
      </li>
    </ul>

    <ul class="menu-right menu-right--full" data-menu="favorites"><!-- messages -->
      <li class="menu-right__item">
        <a href="#message">Fav 1</a>
      </li>
      <li class="menu-right__item">
        <a href="#setting">Fav 2</a>
      </li>
      <li class="menu-right__item">
        <a href="#setting">Fav 3</a>
      </li>
    </ul>

    <!-- Loader -->
    <div class="jdc-loader">
      <div class="jdc-loader__spinner"></div>
      <div class="jdc-loader__message">Loading Josh.care</div>
    </div>

    <!-- Scripts -->
    <script src="/scripts/bundle.min.js"></script>

  </body>
</html>
