
    <footer>

    </footer>

    <!-- Modals -->
    <div class="jdc-modal" data-modal="login">
      <div class="jdc-modal__body">
        <form class="jdc-form" id="login-form">
          <input type="email" id="login-email" placeholder="Email" />
          <input type="password" id="login-password" placeholder="Password" />
          <input type="submit" id="login-submit" value="Log In" />
        </form>
      </div>
    </div>

    <!-- Menus -->
    <ul class="menu-right menu-right--full" data-menu="admin"><!-- admin -->
      <li class="menu-right__item">
        <a href="#admin">Admin 1</a>
      </li>
      <li class="menu-right__item">
        <a href="#admin">Admin 2</a>
      </li>
      <li class="menu-right__item">
        <a href="#admin">Admin 3</a>
      </li>
    </ul>

    <!-- Loader -->
    <div class="jdc-loader">
      <div class="jdc-loader__spinner"></div>
      <div class="jdc-loader__message">Loading Josh.care</div>
    </div>

    <!-- Scripts -->
    <script src="/scripts/bundle.min.js"></script>

  </body>
</html>
