
    <footer>

    </footer>

    <!-- Off-page -->
    <div class="jdc-modal"></div>
    <div class="jdc-loader">
      <div class="jdc-loader__spinner"></div>
      <div class="jdc-loader__message">Loading Josh.care</div>
    </div>

    <!-- Scripts -->
    <script src="/scripts/bundle.min.js"></script>

  </body>
</html>
