<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Josh.care{{#if title}} | {{title}}{{/if}}
    </title>
    <!-- Meta -->
    <link rel="icon" type="image/png" href="/images/jdc_favicon.png" sizes="32x32" />
    <!-- Fonts + Styles -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700,900|Rubik" rel="stylesheet">
    <link href="/fonts/entypo.min.css" rel="stylesheet" />
    <link href="/styles/bundle.min.css" rel="stylesheet" />
  </head>
  <body class="theme-default{{#if bodyClass}} page-{{bodyClass}}{{/if}}">

    {{> nav}}
