<nav class="jdc-nav">
  <div class="jdc-nav__wrapper">

    <ul class="jdc-nav__menu">
      <li class="jdc-nav__link jdc-nav__link--logo">
        <a href="/">
          <img src="/images/jdc_logo.png" />
        </a>
      </li>
      <li class="jdc-nav__link">
        <a href="/projects">Projects</a>
      </li>
      <li class="jdc-nav__link">
        <a href="/personal">Personal</a>
      </li>
      <li class="jdc-nav__link">
        <a href="/inspiration">Inspiration</a>
      </li>
      <li class="jdc-nav__link">
        <a href="/career">Career</a>
      </li>
      <li class="jdc-nav__link">
        <a href="/contact">Contact</a>
      </li>
      <li class="jdc-nav__icon">
        <a href="#link" data-open-menu="user">
          <span class="icon-user"></span>
        </a>
      </li>
      <li class="jdc-nav__icon">
        <a href="#link" data-open-menu="messages">
          <span class="icon-message"></span>
        </a>
      </li>
    </ul>

  </div>
</nav>
