<nav>
  <ul class="wrap">
    <li class="logo"><a href="/"><img src="/images/jdc_logo.png" /></a></li>
    <li><a href="##"><span class="icon-user"></span> Bio</a></li>
    <li><a href="##"><span class="icon-star"></span> Favorites</a></li>
    <li><a href="##"><span class="icon-folder"></span> Projects</a></li>
    <li><a href="##"><span class="icon-feather"></span> Writing</a></li>
    <li><a href="##"><span class="icon-briefcase"></span> Professional</a></li>
  </ul>
  <div class="mobile-logo">
    <a href="##" class="menu"><span class="icon-menu"></span></a>
    <a href="##" class="logo"><img src="/images/jdc_logo.png" /></a>
  </div>
</nav>
