<!-- Recent Thoughts -->
<section class="jdc-admin block-full block-full--white">
  <div class="block-full__wrapper">

    <h2>
      Thoughts
    </h2>
    <form class="jdc-form jdc-form--thoughts" id="admin-thoughts">
      <textarea id="admin-thoughts-text"></textarea>
      <input id="admin-thoughts-submit" type="submit" value="Add" />
    </form>
    <div class="card card--ib">
      Hey how's it goin m8z<br>break outttttb oii
      <div class="card-delete">
        <span class="icon-cross"></span>
      </div>
    </div>
    <div class="card card--ib">
      Hey how's it goin m8z gr78 2 b here ya ya ya
      <div class="card-delete">
        <span class="icon-cross"></span>
      </div>
    </div>
    <div class="card card--ib">
      SWAGAGGGGGGGGGGGGGG
      <div class="card-delete">
        <span class="icon-cross"></span>
      </div>
    </div>
    <div class="card card--ib">
      SWOOPDeE DOOPDeE m8 LETZ GO LEZ GET IT GURLB
      <div class="card-delete">
        <span class="icon-cross"></span>
      </div>
    </div>
    <div class="card card--ib">
      Hey how's it goin m8z
      <div class="card-delete">
        <span class="icon-cross"></span>
      </div>
    </div>

  </div>
</section>
