<!-- Recent Thoughts -->
<section class="jdc-admin block-full block-full--white">
  <div class="block-full__wrapper">

    <h2>
      Thoughts
    </h2>
    <form class="jdc-form jdc-form--thoughts" id="admin-thoughts">
      <textarea id="admin-thoughts-text"></textarea>
      <input id="admin-thoughts-submit" type="submit" value="Add" />
    </form>
    <div class="jdc-thoughts"></div>

  </div>
</section>
